<div (click)="ping()" style="height: 70px; width: 100%; display: flex; border-bottom: 3px solid black; direction: ltr" >
    <img src="../assets/pics/logo.jpg" style="height:60px; padding: 5px;">
    <h1 style="margin-left: 15px;">
        Investal
    </h1>
</div>
<div class=content style="height: calc(100% - 75px); padding: 10px 20px; overflow: hidden;"> 

    <div style="height: 60px; width: 100%; display: flex; ">

        <h4 style="margin-left: 10px;">
            הכנס תאריכים
        </h4>
        
        <mat-form-field color="accent" appearance="fill">
            <mat-label>תאריך התחלה</mat-label>
            <input matInput [matDatepicker]="picker1"  (dateChange)="onChangeStartDate($event)" >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent" appearance="fill" style="margin-left: 10px;">
            <mat-label>תאריך סיום</mat-label>
            <input matInput [matDatepicker]="picker2"  (dateChange)="onChangeEndDate($event)" >
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <div *ngIf="dataType == 1" style="margin-left: 10px; display: flex;">
            <h4 style="margin-left: 10px;">
                סופר דאטה מקסימאלי
            </h4>
            <mat-slider style="margin-top: 10px; width: 250px;"
                thumbLabel
                [(ngModel)]="amount"
                [displayWith]="formatLabel"
                tickInterval="1000000000"
                min="-100000000000"
                max="100000000000">
            </mat-slider>
        </div>
        

        


        <button mat-stroked-button [disabled]="startDate == undefined || endDate == undefined || (dataType == 1 && !amount)" 
            (click)="getDates()" style="margin: 10px 10px;">
            הרץ
        </button>
        <button *ngIf="dataType == 1 && !isLoading2 && longDates != undefined" mat-stroked-button
            (click)="exportLongDatesToExcel()" style="margin: 10px 10px;">
            יצא לאקסל
        </button>

    </div>

    <mat-tab-group style="height: calc(95% - 60px);width: 100%;" (selectedTabChange)="changeDataType($event)">
        <mat-tab label="תצוגה גולמית של הנתונים">
            <mat-spinner *ngIf="isLoading" style="display: block; margin: auto; margin-top: 15%;"></mat-spinner>
            <div *ngIf="!isLoading && dates != undefined && dataTitles != undefined" style="width: 100%; height: inherit; background: white; border-radius: 10px;">
                <div style="height: inherit ;;width: 25%; background-color: #eeeeee; overflow-y: scroll !important; overflow-x: hidden;float: right;">
                    <mat-checkbox *ngFor="let item of dataTitles" 
                        style="display: block;"
                        (change)="attChange(item, $event)" 
                        [checked]="false"
                        matTooltip="{{item}}">{{item}}
                    </mat-checkbox>
                </div>
                <div style="width: 75%; height: inherit; float: left;">
                    <ngx-charts-line-chart
                        [results]="multi"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="false"
                        [showYAxisLabel]="showYAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [autoScale]="autoScale"
                        [timeline]="true"
                        [scheme]="colorScheme">
                        <ng-template #tooltipTemplate let-model="model">
                            <app-graph-tooltip [model]="model">
                            </app-graph-tooltip>
                        </ng-template>
                        <ng-template #seriesTooltipTemplate let-model="model">
                            <app-graph-tooltip [model]="model">
                            </app-graph-tooltip>
                        </ng-template>
                    </ngx-charts-line-chart>    
                </div>
            </div>
        </mat-tab>
        <mat-tab label="סיכום ימי לונג">
            <mat-spinner *ngIf="isLoading2" style="display: block; margin: auto; top: 20%;"></mat-spinner>
            <div *ngIf="!isLoading2 && longDates != undefined" style="width: 100%; height: inherit; background: white; border-radius: 10px;">            
                <div style="height: inherit ;;width: 25%; background-color: #eeeeee; overflow-y: scroll !important; overflow-x: hidden;float: right;">
                    <mat-checkbox *ngFor="let item of longDates[0] | keyvalue" 
                        style="display: block;"
                        (change)="attLongChange(item.key, $event)" 
                        [checked]="false">{{item.key}}
                    </mat-checkbox>
                </div>
                <div style="width: 75%; height: inherit; float: left;">
                    <ngx-charts-line-chart
                        [results]="multi2"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="false"
                        [showYAxisLabel]="showYAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [autoScale]="autoScale"
                        [timeline]="true"
                        [scheme]="colorScheme"
                        (select)="onLongDateSelect($event)">
                        <ng-template #tooltipTemplate let-model="model">
                            <app-graph-tooltip [model]="model">
                            </app-graph-tooltip>
                        </ng-template>
                        <ng-template #seriesTooltipTemplate let-model="model">
                            <app-graph-tooltip [model]="model">
                            </app-graph-tooltip>
                        </ng-template>
                    </ngx-charts-line-chart>    
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>


    

    



</div>
