<div (click)="ping()" style="height: 70px; width: 100%; display: flex; border-bottom: 3px solid black; direction: ltr" >
    <img src="../assets/pics/logo.jpg" style="height:60px; padding: 5px;">
    <h1 style="margin-left: 15px;">
        Investal
    </h1>
</div>
<div class=content style="height: calc(100% - 70px); padding: 10px 20px;"> 

    <div style="height: 100px; width: 100%; display: flex; ">

        <h4 style="margin-left: 10px;">
            הכנס תאריכים
        </h4>
        
        <mat-form-field color="accent" appearance="fill">
            <mat-label>תאריך התחלה</mat-label>
            <input matInput [matDatepicker]="picker1"  (dateChange)="onChangeStartDate($event)" >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent" appearance="fill">
            <mat-label>תאריך סיום</mat-label>
            <input matInput [matDatepicker]="picker2"  (dateChange)="onChangeEndDate($event)" >
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button mat-stroked-button [disabled]="startDate == undefined || endDate == undefined" (click)="getDates()" style="margin: 10px 10px;">
            הרץ
        </button>

    </div>


    <mat-spinner *ngIf="isLoading" style="display: block; margin: auto; top: 20%;">

    </mat-spinner>

    <div *ngIf="!isLoading && dates != undefined" style="width: 100%; height: 85%; background: white; border-radius: 10px;">

        <div style="width: calc(100% - 1500px); background-color: #eeeeee; overflow-y: hidden; overflow-x: hidden;float: right;">
            <mat-checkbox *ngFor="let item of dates[0] | keyvalue" 
                style="display: block;"
                (change)="attChange(item.key, $event)" 
                [checked]="false">{{item.key}}
            </mat-checkbox>
            <!--<mat-checkbox style="display: block;"
                (change)="attChange(item, $event)" 
                [checked]="false">18:00
            </mat-checkbox>-->
        </div>

        <div style="width: 1400px !important; height: 100%; float: left;">
            <!--[xAxisTickFormatting]="dateTickFormatting.bind(this)"-->
            <ngx-charts-line-chart
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="false"
                [showYAxisLabel]="showYAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                [timeline]="true"
                [scheme]="colorScheme">
                <ng-template #tooltipTemplate let-model="model">
                    <app-graph-tooltip [model]="model">
                    </app-graph-tooltip>
                </ng-template>
                <ng-template #seriesTooltipTemplate let-model="model">
                    <app-graph-tooltip [model]="model">
                    </app-graph-tooltip>
                </ng-template>
            </ngx-charts-line-chart>    
        </div>
        
        <!--
             <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            (select)="onSelect($event)">
        </ngx-charts-line-chart>-->

        

        <!--
        <div style="width: 500px; height: 500px; float: left;">

            <ag-grid-angular *ngIf="rowData != undefined"
                style="width: 100%; height: 100%;"
                class="ag-theme-balham"
                [rowData]="rowData"
                [columnDefs]="columnDefs">
            </ag-grid-angular>  
    
        </div> 
        -->

    </div>

    



</div>
